<h2>Editing Book</h2>

<%= form_for(@book) do |f| %>
	<h3>title</h3>
	<%= f.text_field :title %>
	<h3>opinion</h3>
	<%= f.text_field :body %>
	<%= f.submit 'Uptata Book' %>
	<% end %>

	<%= link_to 'show', book_path(@book) %>
	<%= link_to 'back', books_path %>